body {
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;

}

header {
  background-color: #414040;
  font-family: Arial, sans-serif;
  margin: 0;
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
nav ul {
  list-style: none;
  padding: 0;
  display: inline;
  margin: 0 15px;
  text-align: center;
}

nav a {
  color: #7d7474;
  text-decoration: none;
  padding: 0 10px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 20px;
}
description {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center;
}
description p {
  text-align: center;
}
main {
  padding: 40px 10px;
  margin: auto;
  width: 900px;
}

section {
  margin-bottom: 40px;
}

section .description {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

.avatar img {
  
  width: 200px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
}

#skills table {
  width: 300px;
  margin: auto;
}

button {
  color: #6d6b6b;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #cccccc;
  color: #333;
}

.grid-container {
  display: grid;
  border:1px solid #ccc;
  grid-template-columns:
  repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  justify-content: center;
 
}

.box {
    padding: 2em;
  background-color: #edf0f0ce;
  color: rgb(68, 76, 72);  
  border-radius: 8px; 
  
}

@media (max-width: 600px) {
  main {
    width: 100%;
    padding: 0 px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}